<app-header></app-header>
<div class="container">
  <div class="jumbotron">
    <h1 *ngIf="nombreUsuario" class="display-4">Hola {{ nombreUsuario }}!</h1>
    <h1 *ngIf="!nombreUsuario" class="display-4">Hola, no has iniciado sesión!</h1>
    <p class="lead">
      Este es un registro de productos y rubros. La api está desarrollada en Java ☕ con Spring-Boot 🍃.
    </p>
    <hr class="my-4" />
    <p *ngIf="nombreUsuario">
      Disfruta de la aplicación ingresando a la lista de rubros:
    </p>
    <p *ngIf="!nombreUsuario">
      Para acceder a la información debes iniciar sesión o registrarte. Pruebalo es gratis.
    </p>
    <a *ngIf="!nombreUsuario" class="btn btn-primary btn-lg m-1 text-white" routerLink="/login" role="button" type="submit">Iniciar Sesión</a>
    <a *ngIf="!nombreUsuario" class="btn btn-warning btn-lg m-1 text-white" routerLink="/registro" role="button" type="submit">Crear cuenta</a>
    <a *ngIf="nombreUsuario" class="btn btn-info btn-lg m-1 text-white" routerLink="/rubros" role="button" type="submit">Rubros</a>
  </div>
</div>
