<app-header></app-header>
<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ titulo }}</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editarFormRubro" (ngSubmit)="putForm(editarFormRubro.value)">
          <div class="form-group">
            <label for="denominacion">Denominación</label>
              <input
                type="text"
                formControlName="denominacion"
                class="form-control"
              />
            </div>
         
  
            <button
            type="submit"
              class="btn btn-warning text-white m-1"
              role="button"
            >
              Actualizar
            </button>
            <button routerLink="/rubros" class="btn btn-primary text-white m-1">Regresar</button>
        </form>
      </div>
    </div>
  </div>


